<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')  -%>
</head>

<body>
    
    <%- include ('../partials/header.ejs') -%>
    <h1>product 2</h1>
    <%- include ('../partials/productCard.ejs', {product: products[1]}) -%> 

    <%- include ('../partials/scripts.ejs') -%> 
</body>

</html>