<div class="card" style="width: 18rem; margin: 10px;">
    <img class="card-img-top" src="<%= product.img %> " alt="Card image cap">

    <div class="card-body">
        <h5 class="card-title"><%= product.name %> </h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= product.type %></li>
            <li class="list-group-item"><%= product.price %></li>
        </ul>
        <a href="#" class="btn btn-primary">Add to Cart</a>
    </div>
</div>